@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #372c2c;
  color: #333;
  padding: 0;
  margin: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left h1{
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

nav {
  margin-bottom: 2rem;
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  -webkit-text-fill-color: rgb(255, 255, 255);
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  border-radius: 5px;
}

main {
  padding: 2rem 0;
}

h2 {
  color: #333;
  margin-bottom: 0.5rem;
}

h3 {
  color: #555;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

figure {
  margin: 1.5rem 0;
}

figure img {
  /* width: 100px; */
  height: auto;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  font-size: 1.5rem;
  color: #d12e2e;
  margin-top: 0.5rem;
}
.img-area dl img{
  width: 15px;
  height: 15px;
}
.img-area dl {
  display: grid;
  grid-template-columns: auto 1fr; /* term and description columns */
  grid-gap: 5px; 
}
.img-area dt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-area dt, dd {
  margin: 0;
  color: #ddd;
  font-family: serif;
}
.img-area dd a{
  color: white;
}

.container-home{
  display: flex;
  background-color: #000000;
  padding: 0 15px 0 15px;
  border-radius: 7px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-template-rows: repeat(3, 350px);
  grid-gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #eee;
  padding: 10px 20px;
  border: 5px solid salmon;
  border-radius: 15px;

}

.grid-item h2{
  margin: 0;
  font-size: 4vh;
  text-align: center;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-item h4{
  margin: 0;
  font-weight: bold 200;
  color: salmon;
}
.grid-item h3::before {
  content: "\25AA"; 
  font-size: 16px;
  margin-right: 10px;
  color: #ffffff;
}
.grid-item ul{
  margin: 0;
  font-size: 16px;
  text-align: justify;
  list-style: none;
}
.grid-text{
  background-color: #000000;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
}
.grid-text img{
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 5px;

}

.grid-button{
  display: block;
  text-align: center;  
}
.grid-button a{
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
}

.about-container{
  display: flex;
  background-color: #000000;
  padding: 0 15px 0 15px;
  border-radius: 7px;
}

.text-area h2{
  background-color: none;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  -webkit-background-clip: text;
}
.text-area h3{
  width: fit-content;
  padding: 3px 10px;
  -webkit-text-fill-color: rgb(255, 255, 255);
  background: linear-gradient(135deg, #f34079 40%, #fc894d);
  border-radius: 5px;
  font-weight: bolder;
  border: 2px solid salmon;
}
.text-area div{
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
}

footer {
  margin-top: 3rem;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  text-align: center;
  background-color: #007bff;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
/* 
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  width: 100%;
  height: 100vh;
  gap: 2rem;
} */

section {
  background-color: #d64545;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input, form button {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}
